/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf8f5;
  padding: 40px 20px;
}

h1 {
  font-size: 44px;
}

#desserts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

article {
  /* border: 1px solid black; */
}

article p:first-of-type {
  margin-top: 28px;
  color: gray;
}

article p:last-of-type {
  margin-top: 6px;
  color: brown;
  font-weight: 600;
}

article h2 {
  font-weight: 600;
  margin-top: 6px;
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

article div {
  position: relative;
  height: 200px;
}

article button {
  padding: 10px 24px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

button img {
  width: 16px;
  height: 16px;
}

section {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
}

section h2 {
  color: brown;
}

ul {
  list-style: none;
}
