/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf8f5;
  padding: 40px 20px;
}

h1 {
  font-size: 44px;
}

#desserts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

article {
  /* border: 1px solid black; */
}

article p:first-of-type {
  margin-top: 16px;
  color: gray;
}

article p:last-of-type {
  margin-top: 6px;
  color: brown;
  font-weight: 600;
}

article h2 {
  font-weight: 600;
  margin-top: 6px;
}

img {
  height: 200px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
